/* Whatsapp Logo */
body.blur-mode.blur-logo span[aria-label="WhatsApp"][data-icon="wa-wordmark-refreshed"] {
  filter: blur(var(--blur-logo, 10px)) !important;
  transition: filter 0.3s ease;
}

body.blur-mode.blur-logo:not(.nohover-logo) span[aria-label="WhatsApp"][data-icon="wa-wordmark-refreshed"]:hover {
  filter: none !important;
}

/* Profile Picture */
body.blur-mode.blur-profile-picture img._ao3e.x1n2onr6,
body.blur-mode.blur-profile-picture span[data-icon="default-contact-refreshed"],
body.blur-mode.blur-profile-picture span[data-icon="default-group-refreshed"],
body.blur-mode.blur-profile-picture span[data-icon="wa-chat-psa"] {
  filter: blur(var(--blur-profile-picture, 8px)) !important;
  transition: filter 0.3s ease;
}

body.blur-mode.blur-profile-picture:not(.nohover-profile-picture) img._ao3e.x1n2onr6:hover,
body.blur-mode.blur-profile-picture span[data-icon="default-contact-refreshed"]:hover,
body.blur-mode.blur-profile-picture span[data-icon="default-group-refreshed"]:hover,
body.blur-mode.blur-profile-picture span[data-icon="wa-chat-psa"]:hover {
  filter: none !important;
}

/* Contact Name */
body.blur-mode.blur-contact-name span._ao3e[dir="auto"] {
  filter: grayscale(100%) blur(var(--blur-contact-name, 5px)) !important;
  transition: filter 0.3s ease;
}

body.blur-mode.blur-contact-name:not(.nohover-contact-name) span._ao3e[dir="auto"]:hover {
  filter: none !important;
}

/* Preview Chat */
body.blur-mode.blur-preview-chat div._ak8j span.x78zum5.x1cy8zhl {
  filter: grayscale(100%) blur(var(--blur-preview-chat, 5px)) !important;
  transition: filter 0.3s ease;
}

body.blur-mode.blur-preview-chat:not(.nohover-preview-chat) div._ak8j span.x78zum5.x1cy8zhl:hover {
  filter: none !important;
}

/* Chat Bubble */
body.blur-mode.blur-chat-bubble div.copyable-text[data-pre-plain-text],
body.blur-mode.blur-chat-bubble div[aria-label="Open picture"] img,
body.blur-mode.blur-chat-bubble div._amk4 img._ajxb._ajxj._ajxd,
body.blur-mode.blur-chat-bubble div._ak49,
body.blur-mode.blur-chat-bubble button[aria-label="Play voice message"],
body.blur-mode.blur-chat-bubble div.x10l6tqk.x1vjfegm.x78zum5.x6s0dn4.xl56j7k,
body.blur-mode.blur-chat-bubble span._ahx_[role="button"],
body.blur-mode.blur-chat-bubble div.x1c4vz4f.xs83m0k.xdl72j9.x1g77sc7.xeuugli.x2lwn1j.xozqiw3.x1oa3qoh.x12fk4p8.x1onr9mi.xsdox4t.xh8yej3,
body.blur-mode.blur-chat-bubble div.x78zum5.x1cy8zhl.xisnujt.x1nxh6w3.xcgms0a.x16cd2qt>span.selectable-text.copyable-text._ao3e {
  filter: grayscale(100%) blur(var(--blur-chat-bubble, 8px)) !important;
  transition: filter 0.3s ease;
}

body.blur-mode.blur-chat-bubble:not(.nohover-chat-bubble) div.copyable-text[data-pre-plain-text]:hover,
body.blur-mode.blur-chat-bubble:not(.nohover-chat-bubble) div[aria-label="Open picture"] img:hover,
body.blur-mode.blur-chat-bubble:not(.nohover-chat-bubble) div._amk4 img._ajxb._ajxj._ajxd:hover,
body.blur-mode.blur-chat-bubble:not(.nohover-chat-bubble) div._ak49:hover,
body.blur-mode.blur-chat-bubble:not(.nohover-chat-bubble) button[aria-label="Play voice message"]:hover,
body.blur-mode.blur-chat-bubble:not(.nohover-chat-bubble) div.x10l6tqk.x1vjfegm.x78zum5.x6s0dn4.xl56j7k:hover,
body.blur-mode.blur-chat-bubble:not(.nohover-chat-bubble) span._ahx_[role="button"]:hover,
body.blur-mode.blur-chat-bubble:not(.nohover-chat-bubble) div.x1c4vz4f.xs83m0k.xdl72j9.x1g77sc7.xeuugli.x2lwn1j.xozqiw3.x1oa3qoh.x12fk4p8.x1onr9mi.xsdox4t.xh8yej3:hover,
body.blur-mode.blur-chat-bubble:not(.nohover-chat-bubble) div.x78zum5.x1cy8zhl.xisnujt.x1nxh6w3.xcgms0a.x16cd2qt>span.selectable-text.copyable-text._ao3e:hover {
  filter: none !important;
}

/* Chat Input */
body.blur-mode.reduced-chat-input-opacity span.selectable-text.copyable-text.xkrh14z[data-lexical-text="true"] {
  opacity: var(--opacity-chat-input-opacity, 0.2) !important;
  transition: opacity 0.2s ease;
}

body.blur-mode.reduced-chat-input-opacity:not(.nohover-chat-input-opacity):hover span.selectable-text.copyable-text.xkrh14z[data-lexical-text="true"] {
  opacity: 1 !important;
}

/* Chat Input - Grayscale for emoji */
body.blur-mode.blur-chat-input span.selectable-text.copyable-text.xkrh14z[data-lexical-text="true"],
body.blur-mode.blur-chat-input div.x78zum5.x1q0g3np.x1311tq3.xvh3i5d.x6nvzda.x4i4b9w.xhl9efl.xj65ea0.x14aock7.x889kno.x2vl965.x1a8lsjc.xe2zdcy,
body.blur-mode.blur-chat-input div.x1n2onr6.xh8yej3.xjdcl3y.lexical-rich-text-input {
  filter: grayscale(100%) !important;
  transition: filter 0.3s ease;
}

body.blur-mode.blur-chat-input:not(.nohover-chat-input):hover span.selectable-text.copyable-text.xkrh14z[data-lexical-text="true"],
body.blur-mode.blur-chat-input:not(.nohover-chat-input):hover div.x78zum5.x1q0g3np.x1311tq3.xvh3i5d.x6nvzda.x4i4b9w.xhl9efl.xj65ea0.x14aock7.x889kno.x2vl965.x1a8lsjc.xe2zdcy,
body.blur-mode.blur-chat-input:not(.nohover-chat-input):hover div.x1n2onr6.xh8yej3.xjdcl3y.lexical-rich-text-input {
  filter: none !important;
}